@model DemoMVC.Models.BMIModel

<h2>Tính chỉ số BMI</h2>

<form method="post">
    <label>Chiều cao (m):</label>
    <input asp-for="ChieuCao" required /><br/><br>

    <label>Cân nặng (kg):</label>
    <input asp-for="CanNang" required /><br/><br>

    <button type="submit">Tính BMI</button>
</form>

@if (ViewBag.BMI != null)
{
    <p>BMI của bạn: @ViewBag.BMI</p>
    <p>Phân loại: @ViewBag.Category</p>
}

@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>
}
